<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunnu.recommender.course.mapper.ClassesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hunnu.recommender.course.entity.Classes">
        <id column="class_id" property="classId" />
        <result column="created_time" property="createdTime" />
        <result column="user_id" property="userId" />
        <result column="class_name" property="className" />
        <result column="class_picture" property="classPicture" />
    </resultMap>

    <select id="classInfoQuery" resultType="cn.hunnu.recommender.course.vo.ClassInfoVO">
        select cl.*,p.user_name,ca.category_name
        from classes cl,category ca,person p
        where p.user_id = cl.create_user_id and ca.category_id = cl.class_category_id
            and user_name like concat('%',#{userName},'%') and category_name like concat('%',#{categoryName},'%')
            and class_name like concat('%',#{className},'%')
        order by cl.class_id desc
    </select>

    <insert id="addClass">
        insert into classes(class_name,create_user_id,category_id)
        values (#{className},#{userId},#{classCategoryId});
    </insert>

</mapper>
