<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunnu.recommender.course.mapper.HomeworkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hunnu.recommender.course.entity.Homework">
        <id column="homework_id" property="homeworkId" />
        <result column="created_time" property="createdTime" />
        <result column="title" property="title" />
        <result column="homework_content" property="homeworkContent" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
