<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunnu.recommender.examination.mapper.PapersQuestionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hunnu.recommender.examination.entity.PapersQuestions">
        <id column="paper_question_id" property="paperQuestionId" />
        <result column="paper_id" property="paperId" />
        <result column="question_id" property="questionId" />
    </resultMap>
    <!--根据试卷ID查找组成该试卷的试题详细信息-->
    <select id="selectQuestions" resultType="cn.hunnu.recommender.examination.entity.Questions">
        SELECT q.*
        FROM papers_questions pq LEFT JOIN questions q ON pq.question_id = q.question_id
        WHERE pq.paper_id = #{paperId}
    </select>

</mapper>
