<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunnu.recommender.user.mapper.PersonKnowledgeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hunnu.recommender.user.entity.PersonKnowledge">
        <id column="user_knowledge_id" property="userKnowledgeId" />
        <result column="user_id" property="userId" />
        <result column="knowledge_id" property="knowledgeId" />
        <result column="comprehension" property="comprehension" />
    </resultMap>
    <select id="selectKnowledge" resultType="cn.hunnu.recommender.course.entity.Knowledge">
        SELECT k.*, pk.comprehension
        FROM person_knowledge pk LEFT JOIN knowledge k ON pk.knowledge_id = k.knowledge_id
        WHERE pk.user_id = #{userId}
    </select>

</mapper>
