<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunnu.recommender.user.mapper.PersonStylePaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hunnu.recommender.user.entity.PersonStylePaper">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="answers" property="answers" />
    </resultMap>
    <select id="findUsersId" resultType="java.lang.Integer">
        select user_id from person_style_paper
        where study_style_id1 in
        <foreach collection="studyStyleId1" item="studyStyle1" separator="," open="(" close=")">
            #{studyStyle1}
        </foreach> or study_style_id2 in
        <foreach collection="studyStyleId2" item="studyStyle2" separator="," open="(" close=")">
            #{studyStyle2}
        </foreach> or study_style_id3 in
        <foreach collection="studyStyleId3" item="studyStyle3" separator="," open="(" close=")">
            #{studyStyle3}
        </foreach> or study_style_id4 in
        <foreach collection="studyStyleId4" item="studyStyle4" separator="," open="(" close=")">
            #{studyStyle4}
        </foreach>
    </select>

</mapper>
