<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunnu.recommender.examination.mapper.QuestionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hunnu.recommender.examination.entity.Questions">
        <id column="question_id" property="questionId" />
        <result column="status" property="status" />
        <result column="bank_id" property="bankId" />
        <result column="question_type_id" property="questionTypeId" />
        <result column="knowledge_id" property="knowledgeId" />
        <result column="question_statement" property="questionStatement" />
        <result column="answer" property="answer" />
        <result column="difficulty_level" property="difficultyLevel" />
        <result column="score" property="score" />
            <collection property="options" column="question_id"
                        select="cn.hunnu.recommender.examination.mapper.OptionsMapper.selectByQuestionId">
            </collection>
    </resultMap>
    <delete id="delBatchQuestions">
        delete from questions
        where question_id in 
        <foreach collection="ids" item="questionId" separator="," open="(" close=")">
            #{questionId}
        </foreach>;
    </delete>

    <delete id="delBatchOptions">
        delete from options
        where question_id in
        <foreach collection="ids" item="questionId" separator="," open="(" close=")">
            #{questionId}
        </foreach>;
    </delete>

    <select id="queryQuestion" resultMap="BaseResultMap">
        select * from questions Q
                 where bank_id = #{bankId} and question_statement like concat('%',#{questionStatement},'%')
    </select>

</mapper>
