<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunnu.recommender.examination.mapper.QuestionsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hunnu.recommender.examination.entity.Questions">
        <id column="question_id" property="questionId" />
        <result column="status" property="status" />
        <result column="bank_id" property="bankId" />
        <result column="question_type" property="questionType" />
        <result column="knowledge_id" property="knowledgeId" />
        <result column="question_statement" property="questionStatement" />
        <result column="answer" property="answer" />
        <result column="difficulty_level" property="difficultyLevel" />
        <result column="score" property="score" />
            <collection property="options" ofType="cn.hunnu.recommender.examination.entity.Options">
                <id column="option_id" property="optionId"/>
                <result column="option_label" property="optionLabel"/>
                <result column="option_value" property="optionValue"/>
                <result column="question_id" property="questionId"/>
                <result column="status" property="status"/>
            </collection>
    </resultMap>

    <select id="queryQuestion" resultMap="BaseResultMap">
        select * from questions Q left join options as O on Q.question_id = O.question_id where bank_id = #{bankId}
    </select>

</mapper>
