<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hunnu.recommender.user.mapper.StudyStyleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.hunnu.recommender.user.entity.StudyStyle">
        <id column="study_style_id" property="studyStyleId" />
        <result column="study_style_name" property="studyStyleName" />
        <result column="resource_type" property="resourceType" />
    </resultMap>

</mapper>
